<div class="ui card">
  
  <div class="ui small center aligned image">
    <img id="img{{@index}}" src="{{img}}" >
  </div>
  <!-- The Image Modal -->
      <div id="fullImgModal{{@index}}" class="modal">
        
        <div class="modal-content">
          <h3>
          {{tags}} <span class="close1">&times;</span>
          </h3>
          <p id="imgTags{{@index}}" display:none>{{tags}}</p>
<!--           this is just included to be able to call of the image tags in client side scripts -->
         
            <div class="ui large center aligned image">
              {{#if tags }}
                {{> finalTaggedImage}}
              {{else}}
                {{> finalImage}}
              {{/if}}

            </div>
            {{img}}
            
            <menu>
            
            </menu>  
        </div>
      </div>
  
  <script>

// Get the button that opens the modal

         //the last change made, in using all jquery for this modal
        //removing this...
//     var imgModal = document.getElementById("img" + "{{@index}}");
//     console.log("your picture {{@index}}");
//          instead declared a variable with the desired id, and ran
//                                            jquery statement
                                           
                                           
    var imgId = "img".concat({{@index}});
    console.log("yyyour picture " + imgId);


  // When the user clicks the image, open the modal 
  //imgModal.onclick = function() {
    $('#' + imgId).click(function(){    
      $('#' + 'fullImgModal' + "{{@index}}").show()
      $('#' + 'fullImgModal' + "{{@index}}").addClass('activeModal');                             
      console.log("your picture {{img}}");

     // When the user clicks on <span> (x), close the modal 
      $('.close1').click(function(){
      $('.activeModal').hide();
      $('.modal').removeClass('activeModal');
      });

    // When the user clicks anywhere outside of the modal, close it
    //this has to be inside the imgModal item, otherwise it picks up the last image
    //and only works for the last image
    window.onclick = function(event) {
          console.log(event.target.id );
              console.log({{@index}});

      if (event.target.id == 'fullImgModal' + {{@index}}){
              console.log("event.target.id" );

        $('.activeModal').hide();
        $('.modal').removeClass('activeModal');
      } 
    }
  });

</script>
  
    <div class="content"> 
      <p class="center aligned header">Tag: 
          
          {{#if tags }}
            {{tags}}<a href="/dashboard/deletetag?img={{img}}/tag={{tags}}">
            <i class="red delete icon"></i>
            </a>
          {{else}}
             
        <i onclick="toggle('tags{{@index}}', '{{@index}}')" style="display:inline;" class="green add icon"></i> 
        
<!--         @index item passed to toggle mode to facilitate input.focus method -->
        
        <div id="tags{{@index}}" style="display:none;">
          <form action="/dashboard/addtag?{{img}}" method="post" enctype="multipart/form-data">

            <input id="tag-{{@index}}" placeholder="..." type="text" name="tag">
            <input type="hidden" name="img" value={{img}}>
            
            <button class="ui mini blue submit button"> Add tag!</button>

          </form>

        </div>
          {{/if}}
      </p>

      <div class="center aligned meta">
        <a href="/dashboard/deletepicture?img={{img}}">
          <i class="red icon trash"></i>
        </a>
      </div>
  
    </div>

</div>