<div class="ui card">
  
  <div class="ui small center aligned image">
    <img src="{{img}}">
  </div>
    
    <div class="content"> 
      <p class="center aligned header">Tag: 
          
          {{#if tags }}
            {{tags}}<a href="/dashboard/deletetag?img={{img}}/tag={{tags}}">
            <i class="red delete icon"></i>
            </a>
          {{else}}
             
        <i onclick="toggle('Comments{{img}}')" style="display:inline;" class="green add icon"></i> 
        
        <div id="Comments{{img}}" style="display:none;">
          <form action="/dashboard/addtag?{{img}}" method="post" enctype="multipart/form-data">

            <input placeholder="..." type="text" name="tag">
            <input type="hidden" name="img" value={{img}}>
            
            <button class="ui mini blue submit button"> Add tag!</button>

          </form>

        </div>
          {{/if}}</p>

      <div class="center aligned meta">
        <a href="/dashboard/deletepicture?img={{img}}">
          <i class="red icon trash"></i>
        </a>
      </div>
  
    </div>

</div>