
<form>
  <input onclick="location.href='/dashboard/checkbox?value=zoom#anchor';" type="radio" name="transition" value="zoom" > Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=rZoom#anchor';" type="radio" name="transition" value="rotatingZoom" > Rotating Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=fade#anchor';" type="radio" name="transition" value="fade" checked> Slow Fade<br>
  <input onclick="location.href='/dashboard/checkbox?value=slide#anchor';" type="radio" name="transition" value="slide"> Slide  <br>

</form> 

      {{> speed}}
      <p>
        Change speed to trigger a slideshow run    
      </p>
      <br><br>
      {{> colourPick}}
        
        <div id="bxslider100">
         <ul class="bxslider">
           
          {{#each album.image}}
            {{#if tags }}
<!--            version of the slides where the image has tags -->
              <li>
                <img src="{{split}}upload/b_rgb:{{textBgColour}}{{split1}}" title="Blue Lizard9"/>
             </li>
              <li>
                <img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_80/l_dit_dot,w_{{width}},h_{{textBgHeight}},e_colorize,co_rgb:{{textBgColour}},g_south/l_text:Arial_{{textHeight}}_bold:{{tags}},co_rgb:{{textColour}},g_south_west,x_{{textHeight}},y_{{textPad}}{{split1}}" title="Blue Lizard9"/>
             </li>
           {{else}}
           <!--            version of the slides where the image has no tag -->

             <li>
                <img src="{{split}}upload/b_rgb:{{textBgColour}}{{split1}}" title="Blue Lizard9"/>
             </li>
             <li>
                <img  class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_70/{{split1}}" title="Blue Lizard9"/>
              </li>
            {{/if}}

          {{/each}}
<!--            logo/end card slide if logo has been uploaded -->
           {{#ifEquals logo "tempLogo.png"}}
            {{else}}
              {{#if user.message}}
                <li>
                  <img src="{{endCardUrl}}"/>
                </li>
              {{else}}
                <li>
                  <img src="{{logoUrl}}"/>
                </li>
             {{/if}}               
           {{/ifEquals}}
           
         </ul>
        </div>
      
         <script>
           var slider = $('.bxslider').bxSlider({
                            mode: 'fade',
                            moveSlides: 1,
                            slideMargin: 40,
                            infiniteLoop: false,
                            slideWidth: 400,
                            minSlides: 1,
                            maxSlides: 1,
                            pause: 200,
                            pager: false,
                            speed: 300,
                            auto: false,
                        });
            
             
           
           function sliderChange(val){
                    document.getElementById('sliderStatus').innerHTML = val;
                      console.log(val + " slider value");
                      delay = val;
                      
                }
           $('#reload-slider').click(function(e){
           e.preventDefault();
           slider.reloadSlider({
            mode: 'fade',
            auto: true,
            infiniteLoop: false,
            slideWidth: 400,
            speed: delay*400,
            pager: false,
            pause: delay*600

             });
           });
     
;
           
      </script>