
<form>
  <input onclick="location.href='/dashboard/checkbox?value=zoom#anchor';" type="radio" name="transition" value="zoom" > Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=rZoom#anchor';" type="radio" name="transition" value="rotatingZoom" > Rotating Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=fade#anchor';" type="radio" name="transition" value="fade" checked> Slow Fade<br>
  <input onclick="location.href='/dashboard/checkbox?value=slide#anchor';" type="radio" name="transition" value="slide"> Slide  <br>

</form> 

      {{> speed}}
      {{> colourPick}}
        
        <div id="bxslider100">
         <ul class="bxslider">
           
          {{#each album.image}}
            {{#if tags }}
            <li>
              <img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_80/w_iw,h_ih/l_text:Arial_{{textHeight}}_bold:{{tags}},co_rgb:{{textColour}},g_north_west,a_-30,x_{{textHeight}},y_{{textHeight}}{{split1}}" title="Blue Lizard9"/></li>
           {{else}}
            
           <li>
              <img src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_70/w_0.98,c_crop,g_center/w_iw,h_ih{{split1}}" title="Blue Lizard9"/>
            </li>
            {{/if}}

          {{/each}}
           <li>
              <img src="http://res.cloudinary.com/patrick86/image/upload/c_fill,h_810,w_1000/l_dit_dot,w_400,h_60,e_colorize,co_rgb:123456,g_south,y_120/l_text:Arial_30_bold:Powered%20By%20Patrick,co_rgb:fff,g_south,y_133/foodfest_wc3gqq.jpg" title="Blue Lizard9"/>
            </li>
         </ul>
        </div>
      
         <script>
           var slider = $('.bxslider').bxSlider({
                            mode: 'fade',
                            moveSlides: 1,
                            slideMargin: 40,
                            infiniteLoop: true,
                            slideWidth: 400,
                            minSlides: 1,
                            maxSlides: 1,
                            pause: 500,
                            pager: false,
                            speed: 500,
                            auto: true,
                        });
           
           function sliderChange(val){
                    document.getElementById('sliderStatus').innerHTML = val;
                      console.log(val + " slider value");
                      delay = val;
                      
                }
           $('#reload-slider').click(function(e){
           e.preventDefault();
           slider.reloadSlider({
            mode: 'fade',
            auto: true,
            slideWidth: 400,
            speed: delay*1000,
            pager: false,
            pause: delay*1000

             });
           });
           
           $('#reload-slider').click(function(e){
           e.preventDefault();
             console.log("herro");
             
           });
     
;
           
      </script>