
              <img src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_80/w_iw,h_ih/l_text:Arial_{{textHeight}}_bold:{{tags}},co_rgb:{{textColour}},g_north_west,a_-30,x_{{textHeight}},y_{{textHeight}}{{split1}}" title="Blue Lizard"/></li>
