
<form>
  <input onclick="location.href='/dashboard/checkbox?value=zoom#anchor';" type="radio" name="transition" value="zoom" > Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=rZoom#anchor';" type="radio" name="transition" value="rotatingZoom" checked> Rotating Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=fade#anchor';" type="radio" name="transition" value="fade"> Slow Fade<br>
  <input onclick="location.href='/dashboard/checkbox?value=slide#anchor';" type="radio" name="transition" value="slide"> Slide  <br>

</form> 

        {{> speed}}

        {{> colourPick}}
        
        <div id="bxslider100">
         <ul class="bxslider">
           
          {{#each album.image}}
            <li><img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_40/w_0.9,c_crop,g_center/w_iw,h_ih,a_-20,b_rgb:fff{{split1}}" title="Blue Lizard1"/></li>

            <li><img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_40/w_0.91,c_crop,g_center/w_iw,h_ih,a_-18,b_rgb:fff{{split1}}" title="Blue Lizard2"/></li>
            
            <li><img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_40/w_0.92,c_crop,g_center/w_iw,h_ih,a_-16,b_rgb:fff{{split1}}" title="Blue Lizard3"/></li>
          
            <li><img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_40/w_0.93,c_crop,g_center/w_iw,h_ih,a_-14,b_rgb:fff{{split1}}" title="Blue Lizard4"/></li>

            <li><img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_40/w_0.94,c_crop,g_center/w_iw,h_ih,a_-12,b_rgb:fff{{split1}}" title="Blue Lizard5"/></li>
          
            <li><img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_40/w_0.95,c_crop,g_center/w_iw,h_ih,a_-10,b_rgb:fff{{split1}}" title="Blue Lizard6"/></li>
            
            <li><img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_40/w_0.96,c_crop,g_center/w_iw,h_ih,a_-8,b_rgb:fff{{split1}}" title="Blue Lizard7"/></li>
           
            <li><img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_60/w_0.97,c_crop,g_center/w_iw,h_ih,a_-6,b_rgb:fff{{split1}}" title="Blue Lizard8"/></li>
            {{#if tags }}

            <li>
              <img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_70/w_0.98,c_crop,g_center/w_iw,h_ih,a_-4,b_rgb:fff/l_text:Arial_{{textHeight}}_bold:{{tags}},co_rgb:000,g_north_west,a_-30,x_45,y_80{{split1}}" title="Blue Lizard9"/>
            <li>
              <img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_80/w_0.99,c_crop,g_center/w_iw,h_ih,a_-2/l_text:Arial_{{textHeight}}_bold:{{tags}},co_rgb:fff,g_north_west,a_-30,x_45,y_80{{split1}}" title="Blue Lizard10"/></li>
            <li>
              <img class="taggedImage" src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_80/w_iw,h_ih/l_text:Arial_{{textHeight}}_bold:{{tags}},co_rgb:fff,g_north_west,a_-30,x_45,y_80{{split1}}" title="Blue Lizard"/></li>

           {{else}}
            <li>
              <img src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_70/w_0.98,c_crop,g_center/w_iw,h_ih,a_-4,b_rgb:fff{{split1}}" title="Blue Lizard9"/>
            </li>
           <li>
              <img src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_70/w_0.98,c_crop,g_center/w_iw,h_ih,a_-2,b_rgb:fff{{split1}}" title="Blue Lizard9"/>
            </li>
           <li>
              <img src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_70/w_0.98,c_crop,g_center/w_iw,h_ih{{split1}}" title="Blue Lizard9"/>
            </li>
            {{/if}}

          {{/each}}
          {{#ifEquals logo "tempLogo.png"}}
            {{else}}
              {{#if user.message}}
                <li>
                  <img src="{{endCardUrl}}"/>
                </li>
              {{else}}
                <li>
                  <img src="{{logoUrl}}"/>
                </li>
             {{/if}}               
           {{/ifEquals}}
           

         </ul>
        </div>
      
         <script>
           var slider = $('.bxslider').bxSlider({
                            mode: 'fade',
                            moveSlides: 1,
                            slideMargin: 40,
                            infiniteLoop: false,
                            slideWidth: 400,
                            minSlides: 1,
                            maxSlides: 1,
                            pause: 50,
                            pager: false,
                            speed: 1,
                            auto: true,
                        });
           
           function sliderChange(val){
                    document.getElementById('sliderStatus').innerHTML = val;
                      console.log(val + " slider value");
                      delay = val;
                      
                }
           $('#reload-slider').click(function(e){
           e.preventDefault();
           slider.reloadSlider({
            mode: 'fade',
            auto: true,
            infiniteLoop: false,
            slideWidth: 400,
            speed: 1,
            pager: false,
            pause: delay*100

           });
     });
           
      </script>