
<form>
  <input onclick="location.href='/dashboard/checkbox?value=zoom#anchor';" type="radio" name="transition" value="zoom" > Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=rZoom#anchor';" type="radio" name="transition" value="rotatingZoom" > Rotating Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=fade#anchor';" type="radio" name="transition" value="fade" > Slow Fade<br>
  <input onclick="location.href='/dashboard/checkbox?value=slide#anchor';" type="radio" name="transition" value="slide" checked> Slide  <br>

</form> 
    
         {{> speed}}

         {{> colourPick}}
        
        <div id="bxslider100">
         <ul class="bxslider">
           
          {{#each album.image}}
            {{#if tags }}
            <li>
              {{> finalTaggedImage}}

           {{else}}
            
           <li>
              <img src="{{split}}upload/l_{{logo}},w_{{logoWidth}},c_scale,g_north_east,o_70/w_0.98,c_crop,g_center/w_iw,h_ih{{split1}}" title="Blue Lizard9"/>
            </li>
            {{/if}}

          {{/each}}
         </ul>
        </div>
      
         <script>
           var slider = $('.bxslider').bxSlider({
                            mode: 'horizontal',
                            moveSlides: 1,
                            slideMargin: 40,
                            infiniteLoop: true,
                            slideWidth: 400,
                            minSlides: 1,
                            maxSlides: 1,
                            pause: 500,
                            pager: false,
                            speed: 500,
                            auto: true,
                        });
           
           function sliderChange(val){
                    document.getElementById('sliderStatus').innerHTML = val;
                      console.log(val + " slider value");
                      delay = val;
                      
                }
           $('#reload-slider').click(function(e){
           e.preventDefault();
           slider.reloadSlider({
            mode: 'horizontal',
            auto: true,
            slideWidth: 400,
            speed: delay*1000,
            pager: false,
            pause: delay*1000

           });
     });
           
      </script>