
<form>
  <input onclick="location.href='/dashboard/checkbox?value=zoom#anchor';" type="radio" name="transition" value="zoom" > Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=rZoom#anchor';" type="radio" name="transition" value="rotatingZoom" > Rotating Zoom<br>
  <input onclick="location.href='/dashboard/checkbox?value=fade#anchor';" type="radio" name="transition" value="fade" > Slow Fade<br>
  <input onclick="location.href='/dashboard/checkbox?value=slide#anchor';" type="radio" name="transition" value="slide" checked> Slide  <br>

</form> 
    
         {{> speed}}

         {{> colourPick}}
        
        <div id="bxslider100">
         <ul class="bxslider">
           
          {{#each album.image}}
            {{#if tags }}
           <!--            version of the slides where the image has tags -->

              <li>
                {{> finalTaggedImage}}
              </li>
            {{else}}
           <!--            version of the slides where the image has no tag -->
              <li>
                {{> finalImage}}
              </li>
            {{/if}}

          {{/each}}
           <!--            logo/end card slide if logo has been uploaded -->
           {{#ifEquals logo "tempLogo.png"}}
            {{else}}
              {{#if user.message}}
                <li>
                  <img src="{{endCardUrl}}"/>
                </li>
              {{else}}
                <li>
                  <img src="{{logoUrl}}"/>
                </li>
             {{/if}}               
           {{/ifEquals}}
         </ul>
        </div>
      
         <script>
           var slider = $('.bxslider').bxSlider({
                            mode: 'horizontal',
                            moveSlides: 1,
                            slideMargin: 40,
                            infiniteLoop: false,
                            slideWidth: 400,
                            minSlides: 1,
                            maxSlides: 1,
                            pause: 500,
                            pager: false,
                            speed: 500,
                            auto: true,
                        });
           
           function sliderChange(val){
                    document.getElementById('sliderStatus').innerHTML = val;
                      console.log(val + " slider value");
                      delay = val;
                      
                }
           $('#reload-slider').click(function(e){
           e.preventDefault();
           slider.reloadSlider({
            mode: 'horizontal',
            auto: true,
            infiniteLoop: false,
            slideWidth: 400,
            speed: delay*1000,
            pager: false,
            pause: delay*1000

           });
     });
           
      </script>